/* Table of Contents
--------------------------------------- 
	- Import
	- Setup
	- Grid
	- Typography
	- Responsive
--------------------------------------- */

/* Import
--------------------------------------- */

@font-face {
	font-family: 'ChronicleDisplay';
	src: url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/media/fonts/ChronicleDisp-Roman.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/ChronicleDisp-Roman.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/ChronicleDisp-Roman.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'ChronicleDisplayItalic';
	src: url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/media/fonts/ChronicleDisp-Italic.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/ChronicleDisp-Italic.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/ChronicleDisp-Italic.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'ChronicleDisplayBold';
	src: url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/media/fonts/ChronicleDisp-Bold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/ChronicleDisp-Bold.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/ChronicleDisp-Bold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'ChronicleDisplayBoldItalic';
	src: url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/media/fonts/ChronicleDisp-BoldItal.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/ChronicleDisp-BoldItal.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/ChronicleDisp-BoldItal.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'GT-AmericaBold';
	src: url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/media/fonts/GT-America-Bold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/GT-America-Bold.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/GT-America-Bold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'ApercuMono';
	src: url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/media/fonts/ApercuMono.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/ApercuMono.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/DaneHolmes/daneholmes.com/font/ApercuMono.ttf') format('truetype');
	font-display: swap;
}

/* Setup
--------------------------------------- */
html {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

body:before {
	background-position: 50% 50%;
	margin: 4rem auto;
}

body {
	font-size: 1.4rem;
	padding: 0;
	margin: 4rem auto;
	position: relative;
	font-family: "ChronicleDisplay", serif;
	font-style: normal;
	font-weight: 300;
	background-color: rgb(255, 255, 255);	
	color: rgb(34, 34, 34);	
}

.container {
	max-width: 108.5rem;
	margin: 0 auto;
}

h1, section {
	margin: auto;
	max-width: 72rem;
}

section {
	transform: skew(-2deg);
	margin: 0 auto;
	padding: 0 0;
	position: relative;
	border-style: none;
	border-width: 0;
	border-image: none;
}

p, h2, h3 {
	transform: skew(2deg);
}

/* Grid
--------------------------------------- */
section:nth-of-type(1) {
	right: 5rem;
	border-left-width: 0.4rem;
	border-left-style: solid;
	border-image: -webkit-linear-gradient(-90deg, rgb(239,45,86), rgb(61,165,217), rgb(135,163,48)) 1 100%;
	padding-left: 3rem;
	padding-bottom: 3rem;
	margin-bottom: -4rem;
}

section:nth-of-type(3) {
	left: 5rem;
	border-right-width: 0.4rem;
	border-right-style: solid;
	border-image: -webkit-linear-gradient(-90deg, rgb(135,163,48), rgb(61,165,217), rgb(239,45,86)) 1 100%;
	padding-right: 3rem;
	padding-top: 3rem;
	margin-top: -7rem;
}

/* Typography
--------------------------------------- */
h1, h2, h3 {
	font-family: "GT-AmericaBold", sans-serif;
	font-weight: 600;
}

h1 {
	font-size: 4.2em;
	line-height: 1.1em;
	margin: 1em auto;
	padding-left: 0;
	letter-spacing: -0.025em;
	position: relative;
}

h2 {
	font-size: 2.3em;
	line-height: 1;
	margin: 2em auto 1em auto;
}

h3 {
	font-size: 2.0em;
	line-height: 1;
	margin: -0.5em auto -0.5em auto;
}

p {
	font-size: 2em;	
	line-height: 1.6em;
	margin: 0.5em 0 1 0;
	text-align: left;
}

em {
	font-family: 'ChronicleDisplayItalic', serif;
	font-weight: normal;
	font-style: normal;
}

strong {
	font-family: 'ChronicleDisplayBold', serif;
	font-weight: normal;
	font-style: normal;
}

a {
	text-decoration-skip: ink;
	color: rgb(84,19,197);
}

.name {
	color: rgb(84,19,197);
}

/* Form
--------------------------------------- */
form {
	display: -ms-grid;
	display: grid;
		-ms-grid-columns: auto;
	grid-template-columns: auto;
		-ms-grid-rows: auto;
	grid-template-rows: auto;
	grid-column-gap:0em;
	grid-row-gap: 0.5em;
		-ms-justify-items: start;
	justify-items: start;
		-ms-align-items: center;
	align-items: center;
	padding-right: 3rem;
}

input, textarea {
	-webkit-appearance: none;
	padding: 0;
	margin: 0;
	border: 0;
	display: block;
	border: 0.25rem solid transparent;
	border-radius: 0.8rem;
	font-size: 3.5rem;
	padding: 0.5rem 1rem;
	color: rgb(0, 0, 0);
	background-color: rgb(240, 240, 240);
	width: 100%;
	-webkit-box-sizing: border-box;
	font-family: "ApercuMono";
}

textarea {
	min-width: 100%;
	min-height: 4.5rem;
	height: 13.5rem;
	resize: vertical;
}

label {
	display: none;
}

::placeholder {
	font-family: "ApercuMono";
	color: rgb(0, 0, 0);
}

input:focus, textarea:focus {
	outline: none;
	border-width: 0.25rem;
	border-style: solid;
	border-color: rgb(84,19,197);
	font-family: "ApercuMono";
}

input#submit {
	cursor: pointer;
	position: relative;
	width: auto;
	padding: 1rem 2rem;
	background: rgb(84,19,197);
	color: rgb(255, 	255, 255	)
}

/* Responsive
--------------------------------------- */

@media screen and (max-width: 950px) {
	section {
		transform: skew(-1deg);
	}
	
	p, h2, h3 {
		transform: skew(1deg);
	}

	section:nth-of-type(1) {
		right: 3rem;
	}
	
	section:nth-of-type(2) {
		left: 3rem;
	}
	
	section:nth-of-type(3) {
		left: 3rem;
	}
}

@media screen and (max-width: 800px) {
	section {
		transform: skew(0deg);
	}
	
	p, h2, h3 {
		transform: skew(0deg);
	}
	
	section:nth-of-type(1) {
		right: 0;
		padding: 0 1em 1em 1em;
		margin-bottom: -1em;
		border-left-width: 0.5rem;
	}
	
	section:nth-of-type(2) {
		left: 0;
		margin-top: -4em;
		padding: 1em 1em 2em 1em;
		border-right-width: 0.5rem;
	}
	
	section:nth-of-type(3) {
		left: 0;
		margin-top: -4em;
		padding: 1em 1em 2em 1em;
		border-right-width: 0.5rem;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 0.85rem;
	}
	
	h1 {
		padding: 0 2rem;
	}
	
	p {
		font-size: 2.6em;
		line-height: 1.5em;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(36, 37, 40);	
		color: rgb(255, 255, 255);
	}
	.name, a {
		color: rgb(138,98,206);
	}
	input, textarea {
		background-color: rgb(23, 24, 26);
		color: rgb(240, 240, 240);
	}
	input:focus, textarea:focus {
		border-color: rgb(138,98,206);
	}
	::placeholder {
		color: rgb(192, 192, 192);
	}
}