/* Import */
@font-face {
	font-family: 'Roboto';
	src: url('../media/fonts/RobotoMono-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../media/fonts/RobotoMono-Bold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url('../media/fonts/RobotoMono-Italic.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('../media/fonts/RobotoMono-BoldItalic.ttf') format('truetype');
	font-display: swap;
}

/* Document Spacing and Setup */
html {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.9rem;
	padding: 0 0 0 0;
	margin: 4rem auto;
	position: relative;
	font-family: "Roboto", monospace;
	font-style: normal;
	font-variant: normal;
	line-height: 1.6em;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

.container {
	max-width: 100rem;
	margin: 0 auto;
}

/* Breadcrumbs */
ul.breadcrumb {
	padding: 3em 0em 4em 0em;
	list-style: none;
}

ul.breadcrumb li {
	display: inline;
	font-size: 1.1em;
}

ul.breadcrumb li:nth-of-type(1) {
	font-family: "Roboto-Bold", monospace;
	font-weight: normal;
	font-style: normal;
}

ul.breadcrumb li+li:before {
	color: rgb(0, 0, 0);
	content: " / ";
}

ul.breadcrumb li a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: rgb(84,19,197);
}

/* Rows */
.column {
	float: left;
}

.left {
	width: 30%;
	padding-right: 3%;
}

.left p {
	margin: 0 0 0 0;
}

.time {
	padding-bottom: 0.3em;
}

.right {
	width: 66%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
	padding-bottom: 1.1em;
}

/* Section */
section:nth-of-type(1) {
	border-left: 0.25em solid rgb(0, 0, 0);
	padding-left: 1.1em;
}

/* Styles */
h1 {
	padding-bottom: 2.2em;
	font-size: 1.1em;
	font-style: normal;
	font-weight: normal;
}

h2 {
	margin: 0 0 0 0;
	padding: 1.1em 0 1.1em 0;
	font-size: 1.1em;	
	font-family: "Roboto-Bold", monospace;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-size: 1em;
	margin: 0 0 0 0;
	font-family: "Roboto-Bold", monospace;
	font-weight: normal;
	font-style: normal;
}

p {
	margin: 0 0 0 0;
	padding-bottom: 1.1em;
	font-size: 1em;
}

strong {
	font-family: "Roboto-Bold", monospace;
	font-weight: normal;
	font-style: normal;
}

em {
	font-family: "Roboto-Italic", monospace;
	font-weight: normal;
	font-style: normal;
}

.strongem {
	font-family: "Roboto-BoldItalic", monospace;
	font-weight: normal;
	font-style: normal;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition: color 0.5s;
}

a:hover{
	color: rgb(141,98,217);
	margin: 0;
}

::selection {
  background: rgb(227,217,246);
}

hr {
	margin: 0 0 0 0;
	padding-bottom: 2.2em;
	border: none;
	text-align: center;
}

hr:after {
    content: '***';
}

/* Form */
form {
	display: grid;
	grid-row-gap: 0.5em;
}

input, textarea {
	border: 0.1rem solid rgb(0, 0, 0);
	border-radius: 0.2em;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	font-size: 1.1em;
	padding: 0.55em 0.55em;
}

textarea {
	min-height: 4.5rem;
	height: 9.5em;
	resize: vertical;
}

label {
	display: none;
}

::placeholder {
	color: rgb(0, 0, 0);
}

input:focus, textarea:focus {
	outline: none;
	border: 0.1rem solid rgb(0, 0, 0);
}

.button {
	text-align: center;	
}

input#submit {
	cursor: pointer;
	width: 40%;
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

/* Responsive */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
	.container {
		padding: 1em;
	}
}

@media screen and (max-width: 1100px) {
  .container {
	  padding: 3em;
  }
}