/* Import */
@font-face {
	font-family: 'Roboto';
	src: url('../media/fonts/RobotoMono-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../media/fonts/RobotoMono-Bold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url('../media/fonts/RobotoMono-Italic.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('../media/fonts/RobotoMono-BoldItalic.ttf') format('truetype');
	font-display: swap;
}

/*  */
/* Document Spacing and Setup */
/*  */
html {
	font-size: 10px;
}

body {
	font-family: "Roboto", monospace;
	font-size: 1.8rem;
	line-height: 2.8rem;
	font-style: normal;
	font-variant: normal;
	position: relative;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	
}

.container {
	max-width: 100rem;
	margin: 0 auto;
}

/* Styles */
h1 {
	font-size: 2.4rem;
	font-style: normal;
	font-weight: normal;
	padding: 0.2rem 0 0.5rem 0;
}

h2 {
	font-size: 2.2rem;
	font-style: normal;
	font-weight: normal;
	font-family: "Roboto-Bold", monospace;
	font-weight: normal;
	font-style: normal;
	margin: 0 0 -1.2rem 0;
}

h3 {
	font-family: "Roboto-Bold", monospace;
	font-size: 2.0rem;
	font-weight: normal;
	font-style: normal;
	
}

strong {
	font-family: "Roboto-Bold", monospace;
	font-weight: normal;
	font-style: normal;
}

em {
	font-family: "Roboto-Italic", monospace;
	font-weight: normal;
	font-style: normal;
}

.strongem {
	font-family: "Roboto-BoldItalic", monospace;
	font-weight: normal;
	font-style: normal;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition: color 0.5s;
}

a:hover{
	color: rgb(141,98,217);
	margin: 0;
}

/* Breadcrumbs */
ul.breadcrumb {
	list-style: none;
	padding: 2.5em 0 0 0;
}

ul.breadcrumb li {
	display: inline;
	
}

ul.breadcrumb li:nth-of-type(1) {
	font-family: "Roboto-Bold", monospace;
}

ul.breadcrumb li+li:before {
	color: rgb(0, 0, 0);
	content: " / ";
}

ul.breadcrumb li a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: rgb(84,19,197);
}

/* Rows */
.column {
	float: left;
}

.left {
	width: 33.3%;
}

.right {
	width: 66%;
}

.time {
	margin-top: -2rem;
}

::selection {
  background: rgb(227,217,246);
}

/* Form */
form {
	display: grid;
	grid-row-gap: 0.5em;
}

input, textarea {
	border: 0.1rem solid rgb(0, 0, 0);
	border-radius: 0.2em;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	font-size: 1.1em;
	padding: 0.55em 0.55em;
}

textarea {
	min-height: 4.5rem;
	height: 9.5em;
	resize: vertical;
}

label {
	display: none;
}

::placeholder {
	color: rgb(0, 0, 0);
}

input:focus, textarea:focus {
	outline: none;
	border: 0.1rem solid rgb(0, 0, 0);
}

.button {
	text-align: center;	
}

input#submit {
	cursor: pointer;
	width: 40%;
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

/* Responsive */
@media screen and (max-width: 600px) {
	.container {
		padding: 0 2rem;
	}
	.column {
		width: 100%;
	}
	.right {
		margin: -1rem 0 0 0;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		padding: 0 2rem;
	}
}