<form
  action="https://send.pageclip.co/bJKG25lKdhn3AWRHmbSe2L0rpYJvXm8X/contact-form"
  method="POST"
  accept-charset="utf-8"
>
  <label for="name">Name</label>
  <input
    type="text"
    name="name"
    id="name"
    placeholder="Name"
    required
    autocomplete="Name"
    aria-label="Your name"
  />
  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="Email"
    required
    autocomplete="email"
    aria-label="Email"
  />
  <label for="email">Your Message</label>
  <textarea
    name="message"
    placeholder="Message"
    required
    aria-label="Message"
  ></textarea>

  <div class="button">
    <input type="submit" name="submit" id="submit" value="Send" />
  </div>
</form>
