<form
  action="https://app.formking.io/submit/7c8a195ccc77479fa14e7b73dd072247"
  method="POST"
  accept-charset="utf-8"
>
  <label for="name">Name</label>
  <input
    type="text"
    name="name"
    id="name"
    placeholder="Name"
    required
    autocomplete="Name"
    aria-label="Your name"
  />

  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="Email"
    required
    autocomplete="email"
    aria-label="Email"
  />

  <label for="message">Message</label>
  <textarea
    name="message"
    placeholder="Message"
    required
    aria-label="Message"
  ></textarea>

  <div class="button">
    <input type="submit" name="submit" id="submit" value="Send" />
  </div>
</form>
