<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, viewport-fit=cover" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
		{% seo %}
		{% feed_meta %}
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon/favicon16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon/favicon32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon/favicon96	.png" sizes="96x96" />
	</head>
<body>
	<div class="container">		
		<div class="row header" style="font-size: 1.4rem;">
			{% include breadcrumbs.html %}
		</div>